<a href="https://colab.research.google.com/github/2303A51908/Python/blob/main/Dec_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a python program to count no.of students with the grade A in the following tuple

grade = ('C', 'A', 'D', 'B', 'A', 'A')
student = grade.count('A')
print(student)

#Using for loop
grade = ('C', 'A', 'D', 'B', 'A', 'A')
count = 0
for grade in grade:
  if grade == 'A':
    count += 1
print(count)

3
3

In [ ]:
#Reverse a string using slicing
str = input("Enter a String: ")
print(str[::-1])

Enter a String: racecar
racecar

In [ ]:
#Multiplication Table
n = int(input("Enter a Number: "))
for i in range(1,11):
  print( n, "*", i, "=",n * i)

Enter a Number: 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
#Count the No.of Vowels in the given string
str = input("Enter a String: ")
vowels = "aeiouAEIOU"
count = 0
for ch in str:
  if ch in vowels:
    count += 1
print(count)

Enter a String: PAALDUGULA
5

In [ ]:
# Find the factorial of first n numbers using loop
n = int(input("Enter a Number: "))
fact = 1
for i in range(1, n+1):
  fact = fact*i
  print(fact)
print("5! =", fact)

Enter a Number: 5
1
2
6
24
120
5! = 120

In [ ]:
n = 5
for i in range(1, n+1):
  print('*' * i)

*
**
***
****
*****

In [ ]:
n= 5
for i in range(n,0,-1):
  print('*' * i)

*****
****
***
**
*

In [ ]:
n=5
for i in range(1,i+1):
  print('*')

*
*
*
*
*